In [2]:
#参考了优秀作业，分别在Baseline中利用ALS和SGD
from surprise import Dataset
from surprise import Reader
from surprise import BaselineOnly
from surprise import accuracy
from surprise.model_selection import KFold
import pandas as pd
import numpy as np

In [3]:
# 加载训练集
data1=pd.read_csv('./combined_data_1.txt',sep=' ',header=None)
data2=pd.read_csv('./combined_data_2.txt',sep=' ',header=None)
data3=pd.read_csv('./combined_data_3.txt',sep=' ',header=None)
data4=pd.read_csv('./combined_data_4.txt',sep=' ',header=None)

#处理训练集
def data_cleaning(data):
    data['movie_id'] = data[0].map(lambda x :int(x[:-1]) if ':' in x else np.NAN)
    data = data.fillna(method='ffill')
    data = data[data[0].map(lambda x: ':' not in x)]
    data['user_id'] = data[0].map(lambda x:x.split(',')[0]).astype(np.int)
    data['rating'] = data[0].map(lambda x:x.split(',')[1]).astype(np.int)
    data=data.drop([data.columns[0]],axis=1)

    return data

#处理probe数据函数
def probe_cleaning(data):
    data['movie_id'] = data[0].map(lambda x :int(x[:-1]) if ':' in x else np.NAN)
    data = data.fillna(method='ffill')
    data = data[data[0].map(lambda x: ':' not in x)]
    data.columns = ['user_id','movie_id']
    data.user_id=data.user_id.astype(np.int)
    data = data[['movie_id','user_id']]
    
    return data

data1 = data_cleaning(data1)
data2 = data_cleaning(data2)
data3 = data_cleaning(data3)
data4 = data_cleaning(data4)
data_all = pd.concat([data1,data2,data3,data4],ignore_index=True)

In [1]:
data_all.shape

NameError: name 'data_all' is not defined

In [6]:
#数据集切分，选user_id为5倍数，movie_id为3倍数
data_c = data_all[(data_all.user_id % 5 ==0) & (data_all.movie_id%3 ==0)]
data_c.shape

(6761990, 3)

In [9]:
data_c.movie_id = data_c.movie_id.astype(np.int64)
data_c

C:\Users\Ricardo\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

           movie_id  user_id  rating
700               3  1644750       3
702               3   616720       4
705               3   701730       2
706               3  1614320       4
714               3    67315       4
720               3   714960       4
723               3  1632700       4
725               3    79160       4
726               3  1859725       4
735               3   672980       5
736               3   166100       4
747               3  2213550       4
750               3   531155       4
767               3  1628475       4
773               3  1562675       1
776               3    52540       1
780               3  1198785       2
784               3  1853885       4
785               3  2646060       3
787               3  1195585       5
804               3    51230       4
806               3  2554745       4
809               3  1231910       3
815               3  2590630       3
820               3  1673185       3
821               3  2611525       3
823               3  1704175       4
833               3   968765       5
837               3  2203875       4
842               3  1614895       4
...             ...      ...     ...
100479367     17769  1741200       2
100479370     17769  1750195       2
100479379     17769  2209880       5
100479384     17769   690000       1
100479397     17769  1779915       4
100479400     17769   530910       4
100479402     17769  1239925       2
100479406     17769  2185140       1
100479407     17769  2606925       1
100479412     17769  1037090       3
100479423     17769  1517055       3
100479424     17769   699670       2
100479429     17769  2469840       4
100479431     17769  1532085       3
100479449     17769  1556365       2
100479459     17769   119790       3
100479471     17769  2294450       2
100479473     17769  1365790       2
100479490     17769  1942850       3
100479509     17769  2102810       2
100479521     17769  2374480       2
100479522     17769  1274035       3
100479530     17769  2110090       2
100479541     17769  2058870       1
100479545     17769  1546260       1
100479553     17769  2162665       3
100479562     17769  1926685       3
100479569     17769  2549935       2
100479571     17769  1331645       3
100479572     17769   234275       1

[6761990 rows x 3 columns]

In [10]:
#转换surprise格式
reader = Reader(line_format='item user rating',sep=',',skip_lines=1)
data = Dataset.load_from_df(data_c[['movie_id','user_id','rating']],reader=reader)

In [33]:
train_set = data.build_full_trainset()  #全集作为测试集
#SGD算法
bsl_options = {'method':'sgd','n_epochs':5}
algo = BaselineOnly(bsl_options=bsl_options)
kf = KFold(n_splits=3)

In [34]:
for train_set,test_set in kf.split(data):
    #训练并预测
    algo.fit(train_set)
    predictions = algo.test(test_set)
    #计算RMSE
    accuracy.rmse(predictions,verbose=True)

Estimating biases using sgd...
RMSE: 0.9353
Estimating biases using sgd...
RMSE: 0.9356
Estimating biases using sgd...
RMSE: 0.9366

In [15]:
#prob数据处理
probe_data = pd.read_csv('probe.txt',sep=' ',header=None)
probe_data = probe_cleaning(probe_data)

In [16]:
probe_data.shape

(1408395, 2)

In [17]:
probe_data_c = probe_data[(probe_data['user_id'] % 5==0) & (probe_data['movie_id'] % 3 ==0)]

In [20]:
probe_data_c.sort_values(by='movie_id',ascending=False).head()

        movie_id  user_id
564592   17769.0  1021320
564531   17769.0  1741600
564589   17769.0  1693315
564571   17769.0   713715
564529   17769.0   575830

In [27]:
#probe补全成测试集
p_data = pd.merge(probe_data_c,data_c)

#处理成和testset一样的格式
probe_test = []
for i in p_data.values:
    tup=(i[0],i[1],i[2])
    probe_test.append(tup)

probe_prediction = algo.test(probe_test)

In [28]:
accuracy.rmse(probe_prediction,verbose=True)

RMSE: 0.9935

0.9934785207426676

In [29]:
#ALS算法
bsl_options = {'method':'als','n_epochs':5,'reg_u':12,'reg_i':5}
algo = BaselineOnly(bsl_options=bsl_options)
kf = KFold(n_splits=3)
for train_set,test_set in kf.split(data):
    algo.fit(train_set)
    predctions = algo.test(test_set)
    accuracy.rmse(predictions,verbose=True)

Estimating biases using als...
RMSE: 0.9355
Estimating biases using als...
RMSE: 0.9355
Estimating biases using als...
RMSE: 0.9355

In [30]:
prob_prediction = algo.test(probe_test)
accuracy.rmse(prob_prediction,verbose=True)

RMSE: 0.9633

0.9633325731296605

In [37]:
#查看使用NormalPredictor的效果
from surprise import NormalPredictor
algo = NormalPredictor()
kf = KFold(n_splits=3)
for train_set,test_set in kf.split(data):
    algo.fit(train_set)
    predictions = algo.test(test_set)
    accuracy.rmse(predictions,verbose=True)

RMSE: 1.4684
RMSE: 1.4678
RMSE: 1.4676